body {
  background-color: rgba(0,120,100, 0.3);
  margin: 0px;
}

body {
  background-image: url(../images/pus4h.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: url(../images/pus2h.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
  }
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 1vw;
  border: 1px solid grey;
}

.col-small-10 {width: 10%;}
.col-small-20 {width: 20%;}
.col-small-40 {width: 40%;}
.col-small-60 {width: 60%;}
.col-small-100 {width: 100%;}

@media only screen and (min-width: 1000px) {
.col-tall-10 {width: 10%;}
.col-tall-20 {width: 20%;}
.col-tall-30 {width: 30%;}
.col-tall-40 {width: 40%;}
.col-tall-60 {width: 60%;}
.col-tall-70 {width: 70%;}
.col-tall-100 {width: 100%;}
}

.margin-left {
  margin-left: auto;
  max-width: 400px;
}
